@font-face { font-family: Avenir; src: url('resources/fonts/Avenir-Medium.ttf'); }
@font-face { font-family: AvenirBlack; src: url('resources/fonts/AvenirBlack.otf'); } 
@font-face { font-family: Futura; src: url('resources/fonts/Futura.ttf'); } 


/* Misc. CSS */
body {
    font-family: 'Avenir';
    overflow-x: hidden;
    margin: 0;
    position: relative;
}

/** TODO: Add Media Queries for navbar resize **/
/** Need CSS Selector or pass value in **/
.tedactive {
    border-bottom: 3px solid #C7A73D;
    border-left: 0;
    border-right: 0;
}
.tednavgold {
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    border-color: #C7A73D;
    margin: 10;
}

ul.nav {
    background: #F5F5F5;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}